<div class="center">
    <section class="edit">
      <div class="title">
        <h1 v-if="isEdit">Modifica Aula</h1>
        <h1 v-else>Crea Aula</h1>
      </div>
      <form class="mid-form" @submit.prevent=save()>
        <label for="id">ID</label>
        <input type="text" name="id" v-model="aula.id"/>

        <label for="codice">Codice</label>
        <input type="text" name="codice" v-model="aula.codice"/>

        <label for="disponibilita">Disponibilità</label>
        <input type="text" name="disponibilita" v-model="aula.disponibilita"/>

        <label for="tipo">Tipo</label>
        <input type="text" name="tipo" v-model="aula.tipo"/>

        <label for="capienza">Capienza</label>
        <input type="text" name="capienza" v-model="aula.capienza"/>

        <label for="stato">Stato</label>
        <input type="text" name="stato" v-model="aula.stato" />

          <label for="image">Mappa</label>
          <input type="file" id="file" ref="file" name="file0" @change="fileChange()" />
        
        <input v-if="isEdit" type="submit" value ="Modifica" class="button button-success" />
        <input v-else type="submit" value ="Salva" class="button button-success" />


      </form>
    </section>

    <div class="clearfix"></div>
  </div>