<div class="center">
    <section class="edit">
        <div class="title">
            <h1 v-if="isEdit">Modifica Edificio</h1>
            <h1 v-else>Crea Edificio</h1>
        </div>
        <form class="mid-form" @submit.prevent=save()>
           
            <label for="name">name</label>
            <input type="text" name="name" v-model="edificio.name" />

            <label for="total_classrooms">Numero Aule</label>
            <input type="text" name="total_classrooms" v-model="edificio.total_classrooms" />

            <label for="type">address</label>
            <input type="text" name="type" v-model="edificio.address" />

            <input v-if="isEdit" type="submit" value="Modifica" class="button button-success" />
            <input v-else type="submit" value="Salva" class="button button-success" />


        </form>
    </section>

    <div class="clearfix"></div>
</div>