<div class="center">
    <section class="edit">
      <div class="title">
        <h1 v-if="isEdit">Modifica Aula</h1>
        <h1 v-else>Crea Aula</h1>
      </div>
      <form class="mid-form" @submit.prevent=save()>

        <label for="code">Codice</label>
        <input type="text" name="code" v-model="aula.code" required/>

        <label for="floor">Piano</label>
        <input type="text" name="floor" v-model="aula.floor" required/>

        <label for="type">Tipo</label>
        <select v-model="aula.type" name="type" required>
          <option>lezione</option>
          <option>studio</option>
          <option>lavoro</option>
        </select>
     
        <label for="capacity">Capienza</label>
        <input type="text" name="capacity" v-model="aula.capacity" required/>

        <label for="edificio">Edificio</label>
        <select v-model="aula.building_id" name="edificio" required >
          <option :value="edificio.id" v-for="edificio in edifici" :key="edificio.id"> {{edificio.name}}</option>
        </select>
        
        <input v-if="isEdit" type="submit" value ="Modifica" class="button button-success" />
        <input v-else type="submit" value ="Salva" class="button button-success" />
      </form>
    </section>

    <div class="clearfix"></div>
  </div>