<div class="title">
    <h2>Visualizza Aule Disponibili</h2>
</div>
<table class="tg">
    <tr>
        <th class="tg-p78r">Aula</span></th>
        <th class="tg-gwxw">Edificio</th>
        <th class="tg-gwxw">Capienza</th>
        <th class="tg-gwxw">Tipo</th>
        <th class="tg-gwxw">Mappa</th>
    </tr>
   
    <tr>
        <td class="tg-p78r"></td>
        <td class="tg-p78r"></td>
        <td class="tg-p78r"></td>
        <td class="tg-p78r"></td>
        <td class="tg-p78r"><button>Mappa</button></td>
    </tr>
   
</table>